openapi: 3.0.0

info:
  title: Tinder API
  description: Tinder's API documentation.
  version: 1.0.0

servers:
  - url: https://api.gotinder.com
    description: Main Tinder base endpoint
  - url: https://etl.tindersparks.com
    description: Statistics
  - url: https://images-ssl.gotinder.com
    description: Images API

paths:
  /like/{user_id}:
    servers:
      - url: https://api.gotinder.com
    get:
      tags:
        - name: Like
      summary: Likes an user
      description: Likes an user.
      parameters:
        - name: user_id
          in: path
          description: The id of the user that is intended to be liked.
          required: true,
          schema:
            type: string
        - name: locale
          in: query
          description: The locale that the request is being sent.
          required: false
          schema:
            type: string
        - name: s_number
          in: query
          description: The s_number of the user that is intended to be liked, this parameter is part of the user object and currently it is not well understood.
          required: false
          schema:
            type: number
        - name: Accept
          in: header
          description: The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
          required: false
          schema:
            type: string
        - name: app-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: app-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the app session creation.
          required: false
          schema:
            type: number
        - name: app-version
          in: header
          description: TODO
          required: false
          schema:
            type: number
        - name: Origin
          in: header
          description: The Origin request header indicates where a fetch originates from. It doesn't include any path information, but only the server name. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
          required: false
          schema:
            type: string
          example: https://tinder.com
        - name: persistent-device-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: platform
          in: header
          description: The platform that is being used to perform the request.
          required: false
          schema:
            type: string
        - name: Referer
          in: header
          description: The Referer request header contains the address of the previous web page from which a link to the currently requested page was followed. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
          required: false
          schema:
            type: string
        - name: User-Agent
          in: header
          description: The User-Agent request header contains a characteristic string that allows the network protocol peers to identify the application type, operating system, software vendor or software version of the requesting software user agent. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent)
          required: false
          schema:
            type: string
        - name: user-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: user-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the user session creation.
          required: false
          schema:
            type: string
        - name: X-Auth-Token
          in: header
          description: Token received in the authentication process.
          required: true
          schema:
            type: string
        - name: x-supported-image-formats
          in: header
          description: Files formats that are going to be found while working with the application users images. 
          required: false
          schema:
            type: string
          example: webp,jpeg
      responses:
        200:
          description: 'OK'
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
            access-control-allow-methods: 
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
            access-control-allow-origin: 
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
            content-encoding: 
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
            content-length: 
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
            content-type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
            date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: Date
            status:
              description: Response status code.
              schema:
                type: number
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
            via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
            x-amz-cf-id:
              description: TODO
              schema:
                type: string
            x-cache:
              description: TODO
              schema:
                type: string
            x-request-id:
              description: TODO
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  match:
                    type: boolean
                    description: Wether or not the there were a match between the requesting user and the current liked user.
                  likes_remaining:
                    type: number
                    description: Total of remaining likes, it is always 100 unless you runned out of likes, in that case it is zero.
                  X-Padding:
                    type: string
                    description: This field not well understood.
                  rate_limited_until:
                    description: Time when you will be able to like someone again, it is only present when there is no remaining likes.
                    type: number
                    example: 1556811475570
                example:
                  match: false
                  likes_remaining: 100,
                  X-Padding: "{*meta*:{*code*:200,*requestId*:*59a45921351e3d43b07028b5*},*response*:{*venue*:{*id*:*412d2800f964a520df0c1fe3*,*name*:*Central Park*,*contact*:{*phone*:*2123106600*,*formattedPhone*:*(212) 310-6600*,*twitter*:*centralparknyc*,*instagram*:*centralparknyc*,*facebook*:*37965424481*,*facebookUsername*:*centralparknyc*,*facebookName*:*Central Park*},*location*:{*address*:*59th St to 110th St*,*crossStreet*:*5th Ave to Central Park West*,*lat*:40.78408342593807,*lng*:-73.96485328674316,*postalCode*:*10028*,*cc*:*US*,*city*:*New York*,*state*:*NY*,*country*:*United States*,*formattedAddress*:[*59th St to 110th St (5th Ave to Central Park West)*,*New York, NY 10028*,*United States*]},*canonicalUrl*:*https://foursquare.com/v/central-park/412d2800f964a520df0c1fe3*,*categories*:[{*id*:*4bf58dd8d48988d163941735*,*name*:*Park*,*pluralName*:*Parks*,*shortName*:*Park*,*icon*:{*prefix*:*https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_*,*suffix*:*.png*},*primary*:true}],*verified*:true,*stats*:{*checkinsCount*:364591,*usersCount*:311634,*tipCount*:1583,*visitsCount*:854553},*url*:*http://www.centralparknyc.org*,*likes*:{*count*:17370,*summary*:*17370 Likes*},*rating*:9.8,*ratingColor*:*00B551*,*ratingSignals*:18854,*beenHere*:{*count*:0,*unconfirmedCount*:0,*marked*:false,*lastCheckinExpiredAt*:0},*photos*:{*count*:26681,*groups*:[{*type*:*venue*,*name*:*Venue photos*,*count*:26681,*items*:[{*id*:*513bd223e4b0e8ef8292ee54*,*createdAt*:1362874915,*source*:{*name*:*Instagram*,*url*:*http://instagram.com*},*prefix*:*https://igx.4sqi.net/img/general/*,*suffix*:*/655018_Zp3vA90Sy4IIDApvfAo5K"
                  rate_limited_until: 1556811475570
        404:
          description: 'Not Found'
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Content-Encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            Vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding,Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    description: Request status code
                  error:
                    type: string
                    description: Request error message
                example:
                  statusCode: 404
                  error: Not Found
        401:
          description: 'Unathorized'
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    description: Response status code (yeah, I know, it's 'status' and not 'statusCode', Tinder's inconsistencies)
                    type: number
                  error:
                    type: string
                    description: Should be an error message, but it is an empty string
                example:
                  status: 401
                  error: ''
        400:
          description: 'Bad request. This happened when I tried to like myself.'
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: Request status code (yeah, I know, it's 'status' and not 'statusCode', Tinder's inconsistencies)
                  error:
                    type: string
                    description: Should be an error message, but it is an empty string
                example:
                  status: 400
                  error: ''
  /like/{user_id}/super:
    servers:
      - url: https://api.gotinder.com
    post:
      summary: Super likes an user
      description: Super likes an user.
      tags:
        - name: Super Like
      parameters:
        - name: user_id
          in: path
          description: The id of the user that is intended to be super liked.
          required: true
          schema:
            type: string
        - name: locale
          in: query
          description: The locale that the request is being sent.
          required: false
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
          required: false
          schema:
            type: string
        - name: app-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: app-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the app session creation.
          required: false
          schema:
            type: number
        - name: app-version
          in: header
          description: TODO
          required: false
          schema:
            type: number
        - name: Content-Type
          in: header
          description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
          required: false
          schema:
            type: string
        - name: Origin
          in: header
          description: The Origin request header indicates where a fetch originates from. It doesn't include any path information, but only the server name. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
          required: false
          schema:
            type: string
          example: https://tinder.com
        - name: persistent-device-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: platform
          in: header
          description: The platform that is being used to perform the request.
          required: false
          schema:
            type: string
        - name: Referer
          in: header
          description: The Referer request header contains the address of the previous web page from which a link to the currently requested page was followed. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
          required: false
          schema:
            type: string
        - name: User-Agent
          in: header
          description: The User-Agent request header contains a characteristic string that allows the network protocol peers to identify the application type, operating system, software vendor or software version of the requesting software user agent. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent)
          required: false
          schema:
            type: string
        - name: user-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: user-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the user session creation.
          required: false
          schema:
            type: string
        - name: X-Auth-Token
          in: header
          description: Token received in the authentication process.
          required: true
          schema:
            type: string
        - name: x-supported-image-formats
          in: header
          description: TODO
          required: false
          schema:
            type: string
          example: webp,jpeg
      requestBody:
        description: TODO 
        content:
          application/json:
            schema:
              type: object
              properties:
                s_number:
                  description: TODO
                  type: number
      responses:
        200:
          description: OK
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            access-control-allow-methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            content-encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            content-length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
                example: 26749
            content-type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=UTF-8
            date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 22 Apr 2019 04:16:43 GMT
            status:
              description: Response status code.
              schema:
                type: number
                example: 200
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding
            via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 eae9588c80b212b9c41c2d16b13586fe.cloudfront.net (CloudFront)
            x-amz-cf-id:
              description: TODO
              schema:
                type: string
                example: kqyXnzFvYTu2rbq6e7QDcjMAhp6EXTMmUkHNvMm401kVPvXarXLb1Q==
            x-cache:
              description: TODO
              schema:
                type: string
                example: Miss from cloudfront
            x-request-id:
              description: TODO
              schema:
                type: string
                example: 007t55bcqdutqs79ds00
          content:
            application/json:
              schema:
                type: object
                properties:
                  X-Padding:
                    description: TODO
                    type: string
                  limit_exceeded:
                    description: TODO This property appears when you try to superlike someone but you dont have super likes to spend.
                    type: boolean
                  match:
                    description: TODO
                    type: boolean
                  status:
                    description: Response status code.
                    type: number
                  super_likes:
                    description: TODO
                    type: object
                    properties:
                      alc_remaining:
                        description: TODO
                        type: number
                        example: 0
                      allotment:
                        description: TODO
                        type: number
                        example: 1
                      new_alc_remaining:
                        description: TODO
                        type: number
                        example: 0
                      remaining:
                        description: TODO
                        type: number
                        example: 0
                      resets_at:
                        description: TODO
                        type: string
                        example: 2019-05-03T04:32:02.049Z
                      superlike_refresh_amount:
                        description: TODO
                        type: number
                        example: 5
                      superlike_refresh_interval:
                        description: TODO
                        type: number
                        example: 1
                      superlike_refresh_interval_unit:
                        description: TODO
                        type: string
                        example: d
                  
                example:
                  status: 200
                  X-Padding: "{*meta*:{*code*:200,*requestId*:*59a45921351e3d43b07028b5*},*response*:{*venue*:{*id*:*412d2800f964a520df0c1fe3*,*name*:*Central Park*,*contact*:{*phone*:*2123106600*,*formattedPhone*:*(212) 310-6600*,*twitter*:*centralparknyc*,*instagram*:*centralparknyc*,*facebook*:*37965424481*,*facebookUsername*:*centralparknyc*,*facebookName*:*Central Park*},*location*:{*address*:*59th St to 110th St*,*crossStreet*:*5th Ave to Central Park West*,*lat*:40.78408342593807,*lng*:-73.96485328674316,*postalCode*:*10028*,*cc*:*US*,*city*:*New York*,*state*:*NY*,*country*:*United States*,*formattedAddress*:[*59th St to 110th St (5th Ave to Central Park West)*,*New York, NY 10028*,*United States*]},*canonicalUrl*:*https://foursquare.com/v/central-park/412d2800f964a520df0c1fe3*,*categories*:[{*id*:*4bf58dd8d48988d163941735*,*name*:*Park*,*pluralName*:*Parks*,*shortName*:*Park*,*icon*:{*prefix*:*https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_*,*suffix*:*.png*},*primary*:true}],*verified*:true,*stats*:{*checkinsCount*:364591,*usersCount*:311634,*tipCount*:1583,*visitsCount*:854553},*url*:*http://www.centralparknyc.org*,*likes*:{*count*:17370,*summary*:*17370 Likes*},*rating*:9.8,*ratingColor*:*00B551*,*ratingSignals*:18854,*beenHere*:{*count*:0,*unconfirmedCount*:0,*marked*:false,*lastCheckinExpiredAt*:0},*pho"
  /pass/{user_id}:
    servers:
      - url: https://api.gotinder.com
    get:
      summary: Pass (dislike) an user
      description: Pass (dislike) an user.
      tags:
        - name: Pass
      parameters:
        - name: user_id
          in: path
          description: The id of the user that is intended to be super liked.
          required: true
          schema:
            type: string
        - name: locale
          in: query
          description: The locale that the request is being sent.
          required: false
          schema:
            type: string
        - name: s_number
          in: query
          description: The s_number of the user that is intended to be disliked, this parameter is part of the user object and currently it is not well understood.
          required: false
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
          required: false
          schema:
            type: string
        - name: app-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: app-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the app session creation.
          required: false
          schema:
            type: number
        - name: app-version
          in: header
          description: TODO
          required: false
          schema:
            type: number
        - name: Origin
          in: header
          description: The Origin request header indicates where a fetch originates from. It doesn't include any path information, but only the server name. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
          required: false
          schema:
            type: string
          example: https://tinder.com
        - name: persistent-device-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: platform
          in: header
          description: The platform that is being used to perform the request.
          required: false
          schema:
            type: string
        - name: Referer
          in: header
          description: The Referer request header contains the address of the previous web page from which a link to the currently requested page was followed. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
          required: false
          schema:
            type: string
        - name: User-Agent
          in: header
          description: The User-Agent request header contains a characteristic string that allows the network protocol peers to identify the application type, operating system, software vendor or software version of the requesting software user agent. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent)
          required: false
          schema:
            type: string
        - name: user-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: user-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the user session creation.
          required: false
          schema:
            type: string
        - name: X-Auth-Token
          in: header
          description: Token received in the authentication process.
          required: true
          schema:
            type: string
        - name: x-supported-image-formats
          in: header
          description: TODO
          required: false
          schema:
            type: string
          example: webp,jpeg
      responses:
        200:
          description: OK
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Content-Encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            Vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding,Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    description: Response status code.
                    type: number
                  X-Padding:
                    description: TODO
                    type: string
                example:
                  status: 200
                  X-Padding: "{*meta*:{*code*:200,*requestId*:*59a45921351e3d43b07028b5*},*response*:{*venue*:{*id*:*412d2800f964a520df0c1fe3*,*name*:*Central Park*,*contact*:{*phone*:*2123106600*,*formattedPhone*:*(212) 310-6600*,*twitter*:*centralparknyc*,*instagram*:*centralparknyc*,*facebook*:*37965424481*,*facebookUsername*:*centralparknyc*,*facebookName*:*Central Park*},*location*:{*address*:*59th St to 110th St*,*crossStreet*:*5th Ave to Central Park West*,*lat*:40.78408342593807,*lng*:-73.96485328674316,*postalCode*:*10028*,*cc*:*US*,*city*:*New York*,*state*:*NY*,*country*:*United States*,*formattedAddress*:[*59th St to 110th St (5th Ave to Central Park West)*,*New York, NY 10028*,*United States*]},*canonicalUrl*:*https://foursquare.com/v/central-park/412d2800f964a520df0c1fe3*,*categories*:[{*id*:*4bf58dd8d48988d163941735*,*name*:*Park*,*pluralName*:*Parks*,*shortName*:*Park*,*icon*:{*prefix*:*https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_*,*suffix*:*.png*},*primary*:true}],*verified*:true,*stats*:{*checkinsCount*:364591,*usersCount*:311634,*tipCount*:1583,*visitsCount*:854553},*url*:*http://www.centralparknyc.org*,*likes*:{*count*:17370,*summary*:*17370 Likes*},*rating*:9.8,*ratingColor*:*00B551*,*ratingSignals*:18854,*beenHere*:{*count*:0,*unconfirmedCount*:0,*marked*:false,*lastCheckinExpiredAt*:0},*photos*:{*count*:26681,*groups*:[{*type*:*venue*,*name*:*Venue photos*,*count*:26681,*items*:[{*id*:*513bd223e4b0e8ef8292ee54*,*createdAt*:1362874915,*source*:{*name*:*Instag"
        404:
          description: 'Not Found'
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Content-Encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            Vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding,Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    description: Request status code
                  error:
                    type: string
                    description: Request error message
                example:
                  statusCode: 404
                  error: Not Found
        401:
          description: 'Unathorized'
          headers:
            Content-Type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: string
                example: 25
            Connection:
              description: The Connection general header controls whether or not the network connection stays open after the current transaction finishes. If the value sent is keep-alive, the connection is persistent and not closed, allowing for subsequent requests to the same server to be done. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection)
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            Access-Control-Allow-Methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            Date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Mon, 29 Apr 2019 02:29:08 GMT
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Origin
            X-Request-ID:
              description: TODO
              schema:
                type: string
                example: 00af7teqbvf3q82is660
            X-Cache:
              description: TODO
              schema:
                type: string
                example: Error from cloudfront
            Via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 d07104e17906cf397b085b148825b3ed.cloudfront.net (CloudFront)
            X-Amz-Cf-Id:
              description: TODO
              schema:
                type: string
                example: WZbbh7AT5sI6_lPxpjGDC7-vNpBcdfDnU-3RNpiQbGFRkA-bnoO14Q==
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    description: Response status code.
                    type: number
                  error:
                    description: Should be an error message, but it is an empty string
                    type: string
                example:
                  status: 401
                  error: ''
  /v2/auth/sms/send:
    servers:
      - url: https://api.gotinder.com
    post:
      summary: Sends a verification code
      description: Send by SMS a verification code to the specified number, the number format must be [country_code][state_code][cellphone_number], no plus infront of the number.
      tags:
          - name: Auth
      parameters:
          - name: auth_type
            in: query
            description: TODO
            required: false
            schema:
              type: string
          - name: locale
            in: query
            description: The locale that the request is being sent.
            required: false
            schema:
              type: string
          - name: Accept
            in: header
            description: The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
            required: false
            schema:
              type: string
          - name: app-session-id
            in: header
            description: TODO
            required: false
            schema:
              type: string
          - name: app-session-time-elapsed
            in: header
            description: Time, in milliseconds, elapsed since the app session creation.
            required: false
            schema:
              type: number
          - name: app-version
            in: header
            description: TODO
            required: false
            schema:
              type: number
          - name: Content-Type
            in: header
            description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
            required: false
            schema:
              type: string
          - name: install-id
            in: header
            description: TODO
            required: false
            schema:
              type: string
          - name: Origin
            in: header
            description: The Origin request header indicates where a fetch originates from. It doesn't include any path information, but only the server name. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
            required: false
            schema:
              type: string
          - name: persistent-device-id
            in: header
            description: TODO
            required: false
            schema:
              type: string
          - name: platform
            in: header
            description: The platform that is being used to perform the request.
            required: false
            schema:
              type: string
          - name: Referer
            in: header
            description: The Referer request header contains the address of the previous web page from which a link to the currently requested page was followed. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
            required: false
            schema:
              type: string
          - name: User-Agent
            in: header
            description: The User-Agent request header contains a characteristic string that allows the network protocol peers to identify the application type, operating system, software vendor or software version of the requesting software user agent. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent)
            required: false
            schema:
              type: string
          - name: user-session-id
            in: header
            description: TODO
            required: false
            schema:
              type: string
          - name: user-session-time-elapsed
            in: header
            description: Time, in milliseconds, elapsed since the user session creation.
            required: false
            schema:
              type: string
          - name: X-Auth-Token
            in: header
            description: Token received in the authentication process.
            required: true
            schema:
              type: string
          - name: x-supported-image-formats
            in: header
            description: TODO
            required: false
            schema:
              type: string
      requestBody:
        description: TODO
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  description: TODO
                  type: string
                  example: XXYYZZZZZZZZZ
      responses:
        200:
          description: OK
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            access-control-allow-methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            content-encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            content-length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
                example: 85
            content-type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=UTF-8
            date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Wed, 01 May 2019 18:47:16 GMT
            status:
              description: Response status code.
              schema:
                type: number
                example: 200
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding
            via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 ee1cd7250af03109599965184d91ad8f.cloudfront.net (CloudFront)
            x-amz-cf-id:
              description: TODO
              schema:
                type: string
                example: VNDBpGEeUPiBSc_NDeHKuqCaPDDY-pXajPiHMP489FxhrF4VEHfpSg==
            x-cache:
              description: TODO
              schema:
                type: string
                example: Miss from cloudfront
            x-request-id:
              description: TODO
              schema:
                type: string
                example: 00e35so0uvi5c0b75hbg
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    description: TODO
                    type: object
                    properties:
                      status:
                        description: Response status code.
                        type: number
                  data:
                    description: TODO
                    type: object
                    properties:
                      otp_length:
                        description: TODO
                        type: number
                      sms_sent:
                        description: TODO
                        type: boolean
                example:
                  meta:
                    status: 200
                  data:
                    otp_length: 6
                    sms_sent: true
  /v2/auth/sms/validate:
    servers:
      - url: https://api.gotinder.com
    post:
      summary: Sends the verification code for validation
      description: Sends the verification code altogether with the cellphone number to validate them, if correct, returns a refresh token to use in the next step (/v2/auth/login/sms).
      tags:
        - name: Auth
      parameters:
        - name: auth_type
          in: query
          description: TODO
          required: false
          schema:
            type: string
        - name: locale
          in: query
          description: The locale that the request is being sent.
          required: false
          schema:
            type: string
        - name: Accept
          in: header
          description: The Accept request HTTP header advertises which content types, expressed as MIME types, the client is able to understand. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
          required: false
          schema:
            type: string
        - name: app-session-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: app-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the app session creation.
          required: false
          schema:
            type: number
        - name: app-version
          in: header
          description: TODO
          required: false
          schema:
            type: number
        - name: Content-Type
          in: header
          description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
          required: false
          schema:
            type: string
        - name: install-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: Origin
          in: header
          description: The Origin request header indicates where a fetch originates from. It doesn't include any path information, but only the server name. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
          required: false
          schema:
            type: string
        - name: persistent-device-id
          in: header
          description: TODO
          required: false
          schema:
            type: string
        - name: platform
          in: header
          description: The platform that is being used to perform the request.
          required: false
          schema:
            type: string
        - name: Referer
          in: header
          description: The Referer request header contains the address of the previous web page from which a link to the currently requested page was followed. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
          required: false
          schema:
            type: string
        - name: User-Agent
          in: header
          description: The User-Agent request header contains a characteristic string that allows the network protocol peers to identify the application type, operating system, software vendor or software version of the requesting software user agent. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent)
          required: false
          schema:
            type: string
        - name: user-session-id
          in: header
          description: TODO null
          required: false
          schema:
            type: string
        - name: user-session-time-elapsed
          in: header
          description: Time, in milliseconds, elapsed since the user session creation.
          required: false
          schema:
            type: string
        - name: X-Auth-Token
          in: header
          description: At this point, the authentication token does not exist yet.
          required: true
          schema:
            type: string
          example: ''
        - name: x-supported-image-formats
          in: header
          description: TODO
          required: false
          schema:
            type: string
      requestBody:
        description: TODO
        content:
          application/json:
            schema:
              type: object
              properties:
                is_update:
                  description: TODO
                  type: boolean
                otp_code:
                  description: TODO
                  type: string
                phone_number:
                  description: TODO
                  type: string
      responses:
        200:
          description: OK
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            access-control-allow-methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            content-encoding:
              description: The Content-Encoding entity header is used to compress the media-type. When present, its value indicates which encodings were applied to the entity-body. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding)
              schema:
                type: string
                example: gzip
            content-length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
                example: 84
            content-type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=UTF-8
            date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Wed, 01 May 2019 18:47:16 GMT
            status:
              description: Response status code.
              schema:
                type: number
                example: 200
            vary:
              description: The Vary HTTP response header determines how to match future request headers to decide whether a cached response can be used rather than requesting a fresh one from the origin server. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary)
              schema:
                type: string
                example: Accept-Encoding
            via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 ee1cd7250af03109599965184d91ad8f.cloudfront.net (CloudFront)
            x-amz-cf-id:
              description: TODO
              schema:
                type: string
                example: VNDBpGEeUPiBSc_NDeHKuqCaPDDY-pXajPiHMP489FxhrF4VEHfpSg==
            x-cache:
              description: TODO
              schema:
                type: string
                example: Miss from cloudfront
            x-request-id:
              description: TODO
              schema:
                type: string
                example: 00e35so0uvi5c0b75hbg
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: TODO
                    type: object
                    properties:
                      refresh_token:
                        description: TODO
                        type: string
                      validated:
                        description: TODO
                        type: boolean
                  meta:
                    description: TODO
                    type: object
                    properties:
                      status:
                        description: Response status code.
                        type: number
                example:
                  data:
                    refresh_token: xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxx
                    validated: true
                  meta:
                    status: 200
        400:
          description: Bad Request
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            access-control-allow-methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            content-length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
                example: 84
            content-type:
              description: The Content-Type entity header is used to indicate the media type of the resource. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type)
              schema:
                type: string
                example: application/json; charset=UTF-8
            date:
              description: The Date general HTTP header contains the date and time at which the message was originated. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)
              schema:
                type: string
                example: Wed, 01 May 2019 18:47:16 GMT
            status:
              description: Response status code.
              schema:
                type: number
                example: 429
            via:
              description: The Via general header is added by proxies, both forward and reverse proxies, and can appear in the request headers and the response headers. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Via)
              schema:
                type: string
                example: 1.1 ee1cd7250af03109599965184d91ad8f.cloudfront.net (CloudFront)
            x-amz-cf-id:
              description: TODO
              schema:
                type: string
                example: VNDBpGEeUPiBSc_NDeHKuqCaPDDY-pXajPiHMP489FxhrF4VEHfpSg==
            x-cache:
              description: TODO
              schema:
                type: string
                example: Miss from cloudfront
            x-request-id:
              description: TODO
              schema:
                type: string
                example: 00e35so0uvi5c0b75hbg
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: TODO
                    type: object
                    properties:
                      code:
                        description: TODO
                        type: number
                      message:
                        description: TODO
                        type: string
                  meta:
                    description: TODO
                    type: object
                    properties:
                      status:
                        description: Response status code.
                        type: number
                example:
                  error:
                    code: 41201
                    message: Invalid OTP token
                  meta:
                    status: 400
        429:
          description: Too Many Requests
          headers:
            access-control-allow-credentials:
              description: The Access-Control-Allow-Credentials response header tells browsers whether to expose the response to frontend JavaScript code when the request's credentials mode (Request.credentials) is "include". [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
              schema:
                type: boolean
                example: true
            access-control-allow-headers:
              description: The Access-Control-Allow-Headers response header is used in response to a preflight request which includes the Access-Control-Request-Headers to indicate which HTTP headers can be used during the actual request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
              schema:
                type: string
                example: Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With,platform,app-version,X-Auth-Token,x-accountkit-validation-code,token,fast-match-count,x-supported-image-formats,device_id,install-id,persistent-device-id,promo-code,campaign-name,app-session-id,app-session-time-elapsed,user-session-id,user-session-time-elapsed,advertising-id
            access-control-allow-methods:
              description: The Access-Control-Allow-Methods response header specifies the method or methods allowed when accessing the resource in response to a preflight request. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            access-control-allow-origin:
              description: The Access-Control-Allow-Origin response header indicates whether the response can be shared with requesting code from the given origin. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
              schema:
                type: string
                example: https://tinder.com
            content-length:
              description: The Content-Length entity header indicates the size of the entity-body, in bytes, sent to the recipient. [developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
              schema:
                type: number
                example: 84
            content-type:
[...]
